# 複製為 deploy.test.env 並修改
# cp deploy/deploy.test.env.example deploy/deploy.test.env

APP_DIR=/var/www/pickleball-test
GIT_BRANCH=main
SYSTEMD_SERVICE=pickleball-test
NODE_PORT=5239
HEALTH_URL=http://127.0.0.1:5239/
DOMAIN=testmatch.picklevibes.hk
